<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container-fluid bg-dark m-0 p-0">
    <div class="row m-0 p-2 ">
        <div class="col-11 text-white">
            <span class="h5">
                <th:block
                        th:text="${user.getEmail()}">
                </th:block>
            </span>
            <span class="font-weight-light">
                <th:block
                        th:text="'with roles: '+ ${user.getRoles()}">
                </th:block>
            </span>
        </div>
        <div class="col-1 text-white">
            <a class="btn-link text-secondary" href="/logout" type="submit">Logout</a>
        </div>
    </div>
</div>
<br>
<div class="d-flex align-items-start">
    <div class="col-2 m-0 p-0">
        <div aria-orientation="vertical" class="nav flex-column nav-pills me-3" id="Left-menu" role="tablist">
            <a aria-controls="Admin-pills-home" aria-selected="true" class="nav-link active" data-bs-toggle="pill"
               href="#Admin-pills" id="Admin-pills-tab" role="tab">Admin</a>
            <a aria-controls="User-pills-home" aria-selected="false" class="nav-link" data-bs-toggle="pill"
               href="#User-pills" id="User-pills-tab" role="tab">User</a>
        </div>
    </div>
    <div class="col-10 m-0 ">
        <div class="tab-content container-fluid" id="Left-menuContent">

            <div aria-labelledby="Admin-pills-tab" class="tab-pane fade show active"
                 id="Admin-pills" role="tabpanel">
                <div class="h1">Admin panel</div>
                <br>
                <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a aria-controls="nav-home" aria-selected="true" class="nav-link active" data-bs-toggle="tab"
                       href="#nav-home" id="nav-home-tab" role="tab">
                        Users Table</a>
                    <a aria-controls="nav-profile" aria-selected="false" class="nav-link" data-bs-toggle="tab"
                       href="#nav-profile" id="nav-profile-tab" role="tab">New User</a>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div aria-labelledby="nav-home-tab" class="tab-pane fade show active"
                         id="nav-home" role="tabpanel">
                        <div class="card">
                            <div class="card-header h5">
                                All Users
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${usersList}">
                                        <td th:text="${user.getId}"></td>
                                        <td th:text="${user.getUsername()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td th:text="${user.getRoles()}"></td>
                                        <td>
                                            <button class="btn btn-success" data-bs-toggle="modal" th:data-bs-target="${'#modalEdit'+user.getId()}"
                                                    type="button">Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="${'#modalDelete'+user.getId()}"
                                                    type="button">Delete
                                            </button>
                                        </td>
                                        <div class="modal fade" th:id="${'modalEdit'+user.getId()}">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form id="formEdit" th:action="@{admin/edit/{id} (id=${user.id})}"
                                                          th:method="PATCH"
                                                          th:object="${user}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                id="modalVerticallyCenteredLabel1">
                                                                Edit user</h5>
                                                            <button aria-label="Close" class="btn-close"
                                                                    data-bs-dismiss="modal" type="button"></button>
                                                        </div>
                                                        <div class="modal-body text-center font-weight-bold">
                                                            <div class="row">
                                                                <div class="col-3"></div>
                                                                <div class="h6 col-6">
                                                                    <label for="userIdEdit">ID</label>
                                                                    <input class="form-control" disabled
                                                                           id="userIdEdit"
                                                                           th:name="id" th:type="text"
                                                                           th:value="${user.getId()}">
                                                                    <br>
                                                                    <label for="userUsernameEdit">Username</label>
                                                                    <input class="form-control" id="userUsernameEdit"
                                                                           th:name="username"
                                                                           th:type="text"
                                                                           th:value="${user.getUsername()}">
                                                                    <br>
                                                                    <label for="userEmailEdit">Email</label>
                                                                    <input class="form-control" id="userEmailEdit"
                                                                           th:name="email"
                                                                           th:type="text"
                                                                           th:value="${user.getEmail()}">
                                                                    <br>
                                                                    <label for="userPasswordEdit">Password</label>
                                                                    <input class="form-control" id="userPasswordEdit"
                                                                           th:name="password"
                                                                           th:type="text"
                                                                           value="">
                                                                    <br>
                                                                    <label for="userRolesEdit">Roles</label>
                                                                    <select class="form-control" id="userRolesEdit"
                                                                            multiple
                                                                            required size="2" th:name="roles">
                                                                        <option th:each="role:${roles}"
                                                                                th:selected="${user.getRoles().contains(role)}"
                                                                                th:text="${role.getRole().replace('ROLE_', '') + ' '}"
                                                                                th:value="${role.getId()}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" data-bs-dismiss="modal"
                                                                    type="button">Close
                                                            </button>
                                                            <button class="btn btn-primary" type="submit">Edit
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" th:id="${'modalDelete'+user.getId()}">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form id="formDelete" th:action="@{admin/delete/{id} (id=${user.id})}"
                                                          th:method="DELETE"
                                                          th:object="${user}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                id="modalVerticallyCenteredLabel2">
                                                                Delete user</h5>
                                                            <button aria-label="Close" class="btn-close"
                                                                    data-bs-dismiss="modal" type="button"></button>
                                                        </div>
                                                        <div class="modal-body text-center font-weight-bold">
                                                            <div class="row">
                                                                <div class="col-3"></div>
                                                                <div class="h6 col-6">
                                                                    <label for="userIdDelete">ID</label>
                                                                    <input class="form-control" disabled
                                                                           id="userIdDelete"
                                                                           th:name="id" th:type="text"
                                                                           th:value="${user.getId()}">
                                                                    <br>
                                                                    <label for="userUsernameDelete">First Name</label>
                                                                    <input class="form-control" disabled
                                                                           id="userUsernameDelete"
                                                                           th:name="username"
                                                                           th:type="text" th:value="${user.getUsername()}">
                                                                    <br>
                                                                    <label for="userEmailDelete">Email</label>
                                                                    <input class="form-control" disabled
                                                                           id="userEmailDelete"
                                                                           th:name="email"
                                                                           th:type="text" th:value="${user.getEmail()}">
                                                                    <br>
                                                                    <label for="userRolesDelete">Roles</label>
                                                                    <select class="form-control" disabled
                                                                            id="userRolesDelete"
                                                                            size="2" th:name="roles">
                                                                        <option th:each="role:${user.getRoles()}"
                                                                                th:text="${role.getRole().replace('ROLE_', '') + ' '}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" data-bs-dismiss="modal"
                                                                    type="button">Close
                                                            </button>
                                                            <button class="btn btn-danger" type="submit">Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div aria-labelledby="nav-profile-tab" class="tab-pane fade"
                         id="nav-profile" role="tabpanel">
                        <div class="card">
                            <div class="card-header h5">
                                Add new user
                            </div>
                            <div class="card-body">
                                <form id="formNew" th:action="@{admin/add}"
                                      th:method="POST"
                                      th:object="${newUser}">
                                    <div class="text-center font-weight-bold">
                                        <div class="row">
                                            <div class="col-4"></div>
                                            <div class="h6 col-4">
                                                <label for="userUsernameNew">Username</label>
                                                <input class="form-control" id="userUsernameNew"
                                                       placeholder="Username"
                                                       th:name="username"
                                                       th:type="text">
                                                <br>
                                                <label for="userEmailNew">Email</label>
                                                <input class="form-control" id="userEmailNew"
                                                       placeholder="Email"
                                                       th:name="email"
                                                       th:type="text">
                                                <br>
                                                <label for="userPasswordNew">Password</label>
                                                <input class="form-control" id="userPasswordNew"
                                                       placeholder="Password"
                                                       th:name="password"
                                                       th:type="password">
                                                <br>
                                                <label for="userRolesNew">Roles</label>
                                                <select class="form-control" id="userRolesNew"
                                                        multiple
                                                        required size="2" th:name="roles">
                                                    <option th:each="role:${roles}"
                                                            th:text="${role.getRole().replace('ROLE_', '') + ' '}"
                                                            th:value="${role.getId()}">
                                                    </option>
                                                </select>
                                                <br>
                                                <div>
                                                    <button class="btn btn-success" type="submit">Add new user
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-labelledby="User-pills-tab" class="tab-pane fade"
                 id="User-pills" role="tabpanel">
                <div class="h1">User information-page</div>
                <br>
                <div class="card">
                    <div class="card-header h5">
                        About User
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${user.getId}"></td>
                                <td th:text="${user.getUsername()}"></td>
                                <td th:text="${user.getEmail()}"></td>
                                <td th:text="${user.getRoles()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>