<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:each="role:${user.roles}" th:text="${role.role}"/>
        <td>
            <a th:href="@{/admin/edit(id=${user.id})}">Edit user</a>
            <br>
            <a th:href="@{/admin/delete(id=${user.id})}">Delete user</a>
        </td>
    </tr>
</table>
<br>
<a href="/admin/new">
    <input type="submit" value="Add new user">
</a>
<br>
<a href="/logout">Logout</a>
</body>
</html>