<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Login</th>
        <th>Roles</th>
    </tr>
    <tr>
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.login}"/>
        <td th:each="role:${user.roles}" th:text="${role.role}"/>
    </tr>
</table>
<br>
<a href="/logout">Logout</a>
</body>
</html>